.navbar {
    opacity: 0.8;
}

.container > a.navbar-brand {
    font-size: 2rem;
    color: white;
}

.nav-link {
    font-size: 1.5rem;
}

#home-section {
    background: url("../img/money-pocket.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}

#home-section .home-inner {
    padding-top: 400px;
}

#start_button {
    font-size: 1.3rem;
    border-width: medium;
    text-transform: uppercase;
    border-radius: 0;
}

h3.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    #home-section .home-inner {
        padding-top: 150px;
    }
}